*{
    /* outline: 1px dotted red;   */
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.first-section {
    background-color: #1F2937;
    color: white;
    padding: 20px 10px;
}

li {
    list-style-type:none;
}

div.logo {
    color: #f9faf8;
    position: absolute;
    padding: 10px;
    font-size: 24px;

}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 5px;
   
}

div.hero {
   display: flex;
   justify-content: space-evenly;
   margin: 30px;

}

.page-main {
    font-size: 48px;
    color: #f9faf8; 
    font-weight: 900;

}

.sign-up-btn {
    color: white;
    padding: 1px 5px ;
    
}
button.sign-up-btn {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 20px ;
    margin-top: 10px;
}


.image-placeholder {
    height: 200px;
    min-width: 50%;
    display: inline;
    position: relative;
    background-color: gray;
    text-align: center;
    
}

/*second section*/

.second-section {
    padding: 20px 10px;
    height: 250px;
}


.info-text {
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 10px 10px 30px 10px;
    
}

.box-img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    outline: 4px solid #3882f6;
    display: flex;
    flex-direction: column;
}

.img-desc {
    font-size: 10px;
    margin-top: 5px;
    color: #1F2937;
    text-align: center;
    
}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

/* Third section */

.third-section {
    padding: 30px;
    height: 200px;
    background-color: #e5e7eb;
    color: #1F2937;
    display: flex;
    align-items: center;
    
}

.quote-text {
    font-size: 24px;
    font-style: italic;
    margin: 0 50px;
}

.quote-person {
    font-weight: bold;
    font-size: 18px;
    text-align: end;
    padding-right: 20px;
}

/* This is the fourth section */

.fourth-section {
    padding: 30px;
}

.cta-box {
    background-color: #3882f6;
    padding: 30px;
    border-radius: 10px;
}

.text-separator {
    display: flex;
}


.text-for-cta {
    color: #f9faf8 ;
    padding: 20px;
}

.cta-highlight {
    font-weight: 900;
}

.cta-desc {
    font-size: 12px;
    padding-top: 5px;
}

.cta-button {
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 700;
    margin-left: 50px;
}

.sign-up-cta-button {
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 5px;
    align-items: flex-end;

}

